@import "./utils/fonts";
@import "./utils/variables";

@import "./base";
@import "./utils/utils.scss";

@import "./components/buttons";

@import "./components/advantages-section";
@import "./components/chefs";

@import "./components/carousel";
@import "./components/contact-section";

@import "./components/footer";
@import "./components/formats-section";

@import "./components/header";
@import "./components/hero-section";

@import "./components/links";
@import "./components/modal";

@import "./components/titles";
@import "./components/traditions-section";
