@import "./utils/fonts";
@import "./utils/variables";

@import "./base";
@import "./utils/utils.scss";

@import "./components/buttons";

@import "./components/links";
@import "./components/header";
@import "./components/hero-section";
@import "./components/advantages-section";

/* titles */
.titles {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.titles.centered {
  text-align: center;
}

.titles .accent {
  color: var(--color-brand-dark);
}

.advantages-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}
/* traditions section */
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  max-width: 650px;
}
.traditions-title {
  margin-bottom: 42px;
}
.traditions-section {
  padding-top: 96px;
}
.traditions-text .brand {
  color: var(--color-brand);
  font-weight: 600;
}

.traditions-text .brand-uppercase {
  color: var(--color-brand);
  text-transform: uppercase;
  font-weight: 600;
}
.traditions-text.limited {
  max-width: 340px;
}

/* chef section */

.chefs-title {
  position: relative;
  margin: 0 auto 80px;
}

.chefs-title::after,
.chefs-title::before {
  bottom: 24px;
  position: absolute;
  width: 352px;
  border: 2px solid var(--color-brand-accent);
  content: "";
}

.chefs-title::after {
  right: -0px;
}

.chefs-title::before {
  left: -0px;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}
.chef-text p {
  margin-bottom: 24px;
}
.chef-text p:last-child {
  margin-bottom: 24px;
}

.chefs-list {
  display: flex;
  gap: 30px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chefs-card {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px 30px;
}

.chef-photo {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

/* formats section */
.format-item {
  flex-basis: calc((100% - 40px) / 3);
}
.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}
.format-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 444px;
  width: 349px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  padding: 24px;
  border: 1px solid lightgray;
  border-radius: 16px;
  transition: transform 0.3s;
}

.format-card:hover {
  transform: scale(1.05);
}

.format-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.formats.title {
  margin-bottom: 80px;
}
.format-title {
  font-style: 14px;
  font-weight: 600;
  color: var(--color-primary-light);
}
.format-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
}

.formats-container {
  display: flex;
  gap: 32px;
  flex-shrink: 0;
  align-items: center;
}

/* carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-primary-dark);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  padding: 0;
  cursor: pointer;
  flex-shrink: inherit;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}

/* contact section */

.contact-section {
  padding-bottom: 96px;
}

.contacts-title {
  margin-bottom: 16px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

/* footer */

.footer {
  position: relative;
  background-image: url(../images/footer-background\ png.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0px;
}

.footer::before,
footer::after {
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
  content: "";
}

footer::before {
  background-image: url(../images/decor-bread-small.png);
  width: 180px;
  height: 120px;
  left: 0;
}

.footer::after {
  background-image: url(../images/decor-bread-large.png);
  width: 380px;
  height: 190px;
  right: 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-menu,
.footer-logo {
  flex-grow: 1;
  margin: 0;
}

.address-list,
.address-info {
  flex-grow: 1;
  margin: 0;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand);
}

.address-socials {
  height: 32px;
  width: 32px;
  fill: var(--color-primary-light);
}
.address-socials:hover {
  fill: var(--color-brand);
}

.address-copyright {
  font-size: 14px;
  color: var(--color-secondary-dark);
}

.logos {
  display: flex;
  gap: 22px;
}
/* solo try prob delete later */

/* form */
.form-accent {
  color: var(--color-brand-dark);
}

/* Modal */
.backdrop {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 128px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

/* Form */

.form-label {
  position: absolute;
  top: 16px;
  left: 42px;
  font-size: 16px;
  line-height: 1.17;
  color: var(--color-secondary-dark);
  /* transition: transform 0.3s; */
}

/* .form-field:focus-within .form-label {
  transform: translate(-36px, -40px);
} */

.form-input {
  padding: 16px 42px;
  width: 100%;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.17;
}

.form-field {
  margin-bottom: 32px;
  position: relative;
}

.form-input:focus {
  border: 1px solid var(--color-brand);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.form-terms-links {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}

/* .checkbox {
  position: relative;
}

.checkbox-input {
  appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--color-secondary-dark);
}

.checkbox-label {
  padding-left: 24px;
}

.checkbox-label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  border: 1px solid var(--color-primary-dark);
  border-radius: 2px;
  content: "";
} */

/* custom checkbox */
