.header {
  display: flex;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 42.5px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 56px;
}
