:root {
  --color-brand: #819b57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-dark: #465929;
  --color-brand-accent: #cfcfbc;
  --color-secondary-dark: #a18268;
}
