.advantages-section {
  padding: 16px 0px;
  background-color: var(--color-brand);
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}
