.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: var(--color-brand) 2px solid;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

/* button:disabled {
  color: gray;
  background-color: lightgray;
  border-color: currentColor;
  cursor: not-allowed;
} */

.button:hover {
  background-color: transparent;
  color: var(--color-brand);
}
