.chefs-title {
  position: relative;
  margin: 0 auto 80px;
}

.chefs-title::after,
.chefs-title::before {
  bottom: 24px;
  position: absolute;
  width: 352px;
  border: 2px solid var(--color-brand-accent);
  content: "";
}

.chefs-title::after {
  right: -0px;
}

.chefs-title::before {
  left: -0px;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}
.chef-text p {
  margin-bottom: 24px;
}
.chef-text p:last-child {
  margin-bottom: 24px;
}

.chefs-list {
  display: flex;
  gap: 30px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chefs-card {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px 30px;
}

.chef-photo {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}
