/* .checkbox {
  position: relative;
}

.checkbox-input {
  appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--color-secondary-dark);
}

.checkbox-label {
  padding-left: 24px;
}

.checkbox-label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  border: 1px solid var(--color-primary-dark);
  border-radius: 2px;
  content: "";
} */

/* custom checkbox */
