.titles {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.titles.centered {
  text-align: center;
}

.titles .accent {
  color: var(--color-brand-dark);
}
